.page-footer {
  background-color: var(--primary-text-color-navyblue);
  padding: 96px 0;
}

.container-footer {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.logo-icon-footer {
  font-family: 'Raleway', sans-serif;
  color: var(--color-iris);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-transform: uppercase;

  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.text-footer,
.logo-span-footer {
  color: var(--color-cloud);
}

.social-media-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-footer,
.text-social-media-footer {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.text-social-media-footer {
  font-weight: 500;
  color: var(--accent-text-color);
  margin-bottom: 16px;
}

.social-link-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.subscribe-form-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-form-footer-input {
  color: var(--accent-text-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  width: 288px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--accent-text-color);
  margin-bottom: 16px;

  opacity: 0.3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
}

.subscribe-form-footer-input::placeholder {
  color: var(--accent-text-color);
  opacity: 0.6;
}

.subscribe-form-footer-button-telegram {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  color: var(--accent-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  min-width: 165px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;

  text-decoration: none;
  background: var(--color-iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-footer-button-telegram:hover,
.subscribe-form-footer-button-telegram:focus {
  background-color: var(--color-ocean);
}

.telegram-icon {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .container-footer {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 92px;
  }

  .logo-icon-footer {
    text-align: start;
  }

  .text-footer {
    max-width: 264px;
  }

  .social-media-footer-container {
    align-items: flex-start;
  }

  .subscribe-form-footer-wrapper {
    align-items: flex-start;
  }

  .subscribe-form-footer {
    flex-direction: row;
    align-items: center;
    align-items: flex-start;
    gap: 24px;
  }

  .subscribe-form-footer-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }

  .container-footer {
    flex-wrap: nowrap;
    align-items: baseline;
    padding-left: 0;
    gap: 0;
  }

  .logo-footer-container {
    margin-right: 120px;
  }

  .text-social-media-footer {
    font-weight: 500;
    color: var(--accent-text-color);
    margin-bottom: 16px;
  }

  .social-link-list-footer {
    margin-right: 80px;
  }
}
