:root {
  --primary-text-color-navyblue: #2e2f42;
  --secondary-text-color-slate: #434455;
  --accent-text-color: #ffffff;
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-cloud: #f4f4fd;
  --color-lightslate: #8e8f99;
}
